<div class="hourf">
    <%= form_for @hour do |form|%><br><br>
        <%= form.hidden_field :user, :value => current_user.name %>
        <%= form.label :hours %> <br>
        <%= form.text_field :hours %><br><br>
        <%= form.label :description %><br>
        <%= form.text_area :description %><br><br>
        <%= form.label :uploads %>
        <%= form.file_field :uploads, multipart: true %>
        <%= form.submit %><br><br>
    <% end %>
</div>