<br>
<div class="header-hours">
    <div class="image"> <i class="fa fa-bars" aria-hidden="true"></i></div>
    <div class="image"> THE HOURS </div>
    <div class="image"> <i class="fa fa-search" aria-hidden="true"></i></div>
</div> <br> <br>
<div class="header-hou">
    <div class="image"></div>
    <div class="image"> Most Recent </div>
    <div class="image"> Most Acient</i></div>
</div>
<div class="contenth">
    <div class="count"> 
        <div class="totalhours">
        Total hours
        </div>
        <div class="number"> <%= @count %> hrs </div>
    </div>
    <div class="singleitemblock">
        <div class="single-item">
        <% @hours.each do |hour| %>
            <div class="descriptionh">
                <%= hour.description %>
            </div>
            <div class="descriptionh">
                <%= hour.hours %>
            </div>
        </div>
        <div class="time">
                    <p><%= hour.created_at %> </p>
                <% end %>
        </div><br>
    </div>

    <br><br>
    <div class="button">
    <%= link_to 'Add new', new_hour_path %>
    </div>
</div>