<h1> <%= @count %> </h1>

<ul>
<% @hours.each do |hour| %>
    <li> <%= hour.description %> </li>
    <li> <%= hour.hours %> </li>
    <li> <%= hour.created_at %> </li>
<% end %>
</ul>

<%= link_to 'Add new', new_hour_path %>