<br>
<div class="header-hours">
    <div class="image"> <i class="fa fa-bars" aria-hidden="true"></i></div>
    <div class="image"> THE HOURS </div>
    <div class="image"> <i class="fa fa-search" aria-hidden="true"></i></div>
</div> <br> <br>
<div class="header-hou">
    <div class="image"></div>
    <div class="image"> Most Recent </div>
    <div class="image"> Most Acient</i></div>
</div>
<div class="count"> 
    <div class="description">
    Total hours
    </div>
    <div class="number"> <%= @count %> hrs </div>
</div>
<div class="content">
    <ul>
    <% @hours.each do |hour| %>
        <li> <%= hour.description %> </li>
        <li> <%= hour.hours %> </li>
        <li> <%= hour.created_at %> </li>
    <% end %>
    </ul>
</div>

<%= link_to 'Add new', new_hour_path %>