<h1> <%= totalhours %> </h1>

<ul>
<% Hour.all.each do |hour| %>
    <li> <%= hour.description %> </li>
    <li> <%= hour.hours %> </li>
    <li> <%= hour.created_at %> </li>
    # <li> hour.grouphours.icon  </li>
<% end %>
</ul>

<%= link_to 'Add new', new_hour_path %>