<div class="header-hours">
    <div class="image"> The imgae</div>
    <div class="image"> The imgae</div>
    <div class="image"> The imgae</div>
</div>

<div class="count"> 
<%= @count %>
</div>

<ul>
<% @hours.each do |hour| %>
    <li> <%= hour.description %> </li>
    <li> <%= hour.hours %> </li>
    <li> <%= hour.created_at %> </li>
<% end %>
</ul>

<%= link_to 'Add new', new_hour_path %>