<div class="group-title">
    <h1> <%= @group.name %> </h1>
</div
<div class ="profile-items">
    <% if @group.icon.attached? %>
        <%= image_tag(@group.icon.variant(resize: '200 x 200'))%>
    <% end %>

    <% @grouphours.each do |hour|%>
        <%= hour.hours %>
    <% end %>
    <p>
    Created at:    <%= @group.created_at %>
    </p>

    <p>
    Authoured by:    <%= @user.name %>
    </p>
    <%= @group.uploads.count %>

        <% uploads %>

<div>

<br>
<div class="header-hours">
    <div class="image"> <i class="fa fa-bars" aria-hidden="true"></i></div>
    <div class="image"> THE GROUP HOURS </div>
    <div class="image"> <i class="fa fa-search" aria-hidden="true"></i></div>
</div> <br> <br>
<div class="header-hou">
    <div class="image"></div>
    <div class="image"> Most Recent </div>
    <div class="image"> Most Acient</i></div>
</div>
<div class="contenth">
    <div class="count"> 
        <div class="totalhours">
        Total hours
        </div>
        <div class="number">  <%= @grouphourscount %>hrs </div>
    </div>
    <div class="singleitemblock">
        <% @grouphours.each do |hour| %>
            <div class="single-item">
                <div class="descriptionh">
                    <%= hour.description %>
                </div>
                <div class="descriptionh">
                    <%= hour.hours %> hrs
                </div>
            </div>
            <div class="time">
                <%= hour.created_at %>
            </div><br>
            <div class="time">
                <%= hour.created_at %>
            </div><br>
            <div class="time">
                Authoured by: <%= @user.name %>
            </div><br>
        <% end %>
    </div>

    <br><br>
    <div class="button">
        <div class="layout">
            <%= link_to 'Add new', new_hour_path %>
        </div>
    </div>
</div>