<h1> <%= @group.name %> </h1>
<br>
<% if @group.icon.attached? %>
    <%= image_tag(@group.icon.variant(resize: '200x200>')) %>
<% end %>

    <% @grouphours.each do |hour|%>
        <%= hour.hours %>
    <% end %>
<p>
    Created at:    <%= @group.created_at %>
</p>

<p>
    Authoured by:    <%= @user.name %>
</p>
